/* new year related style */
.main-title {
    color: #fbf7f7;
    text-align: center;
    font-size: 30px;
    background-image: url('../assignment1/resources/banner.png');
    height: 400px;
    width: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 180px 50px;
    margin: 25px auto;
}

.title {
    font-size: 20px;
    color: #fbf7f7;
}

/* discount realted style */
.color {
    color: red;
    text-align: center;
}

#OFF {
    font-size: 50px;
    font-weight: 700px;
    font-family: Inter;
}

.discount {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}

/* party realted styles */
.party {
    color: white;
    background-image: url('resources/year.png'), url('resources/Vectorrr.png');

    height: 400px;
    width: 1200px;
    background-repeat: no-repeat;
    background-position: top right, top right;
    border-radius: 20px;
    padding: 180px 50px;
    margin: 80px auto;
}

.btn-primary{
    background-color:none;
    border: none;
    font-size: 17px;
    font-weight: 500;
}

/* information related styles */
.font {
    color: red;
}
.information {
    text-align: center;
    font-size: large;
    padding: 170px;
}

.info {
    background: linear-gradient(rgb(255, 200, 201), rgb(252, 244, 244));
    background-position: center;
    height: 500px;
    width: 1300px;
    margin: -120px auto;
    border-radius: 10px;
}
.btn{
    color: #fbf7f7;
    background-color: red;
    border-radius: 5px;
    border: none;
    padding: 13px;
    font-size: 11px;
}
/* offer part styles */
#BEST {
    color: red;
    font-family: Inter;
}

/* .offer {
    text-align: right;
} */

.border-radius {
   display: flex;
align-items: center;
    border-radius: 50%;
    padding: 170px;
    justify-content: center;
   
}
.radius{
    padding:20px;
    border-radius: 50%;
border: 8px solid red;
height: 300px;
    width: 300px;
}
.about-the-offer{
    text-align: left;
  margin-left: 150px;
  margin-top: -450px;
}
.the-offer{
    margin-left: 900px;
    margin-top: -170px;
}
.font-style{
    color: rgb(119, 117, 117);
}
.font-family{
    font-family:  Merriweather;
}





