.main-title {
    color: #d52020;
    text-align: center;
    background-image: url('../assignment1/resources/banner.png');
    height: 600px;
    width: 100%px;
   background-repeat: no-repeat;
    border-radius: 15px;
    padding: 180px 50px;
    margin: 25px 10px;
    justify-content:space-between;
}
